<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iron.espresso">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="zwhswglizn" />

        <activity
            android:name=".presentation.sign.IntroActivity"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.profile.ProfileActivity" />
        <activity android:name=".presentation.home.mystudy.StudyDetailActivity" />
        <activity android:name=".presentation.home.HomeActivity" />
        <activity
            android:name=".presentation.sign.SignInActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".presentation.sign.SignUpActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".presentation.home.study.StudyListActivity" />
        <activity android:name=".presentation.home.setting.SettingProfileActivity" />
        <activity android:name=".presentation.home.setting.SettingPolicyActivity" />
        <activity android:name=".presentation.home.setting.SettingTermsActivity" />
        <activity android:name=".presentation.home.setting.SettingContactActivity" />
        <activity android:name=".presentation.home.setting.SettingHelpActivity" />
        <activity android:name=".presentation.home.setting.SettingNoticeActivity" />
        <activity android:name=".presentation.home.study.StudyCategoryActivity" />
        <activity android:name=".presentation.home.study.StudyCreateActivity" />
        <activity android:name=".presentation.home.study.SearchStudyActivity" />
        <activity
            android:name=".presentation.home.study.SearchPlaceDetailActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".presentation.home.study.SearchPlaceActivity" />
    </application>

</manifest>