<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wswon.picker">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.wswon.picker.ImageCropActivity" />

        <activity android:name="com.wswon.picker.ImageDetailActivity" />


        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
    </application>

</manifest>